<p class="firstLine"> S &nbsp; H &nbsp; <img src="../../images/sonar.png" alt="" width="50px"> &nbsp; T &nbsp;   &nbsp; S &nbsp; O &nbsp; N &nbsp; A &nbsp; R &nbsp;</p>
<p class="secondLine">We Find 'Em', You Get 'Em</p>