<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function setParams(){
            var zip = document.getElementById("zipcode").value;
            var radius = document.getElementById("radius").value;
            var email = document.getElementById("email").value;
            var number = document.getElementById("number").value;
            window.location.href = `/test/${zip}/${radius}/${email}/${number}`
            console.log(email);
        }

    </script>
</head>
<body>
    <form id = "form" onsubmit="return false;">
        <label for="zip">Whats Your Zipcode?</label>
        <input type="text" name = "zipcode" for = "zipcode" id = "zipcode">
        <label for="radius">How far are you willing to drive(miles)?</label>
        <input type="text" name = "radius" for = "radius" id = "radius">
        <label for="email">What is your email?</label>
        <input type="text" name = "email" for = "email" id = "email">
        <label for="number">What is your phone number?</label>
        <input type="text" name = "number" for = "number" id = "number">
        <button onclick = "setParams()">Click To Continue</button>
    </form>
</body>
</html>