<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    .bg {
        width: 100%;
        height: auto;
        min-height: 100vh;
        background-image: url(http://i.imgur.com/w16HASj.png);
        background-size: 100% 100%;
        background-position: top center
    }
    
    .content {
        margin-top: 20%
    }
    
    .centered {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    
    .InputStyle {
        border-radius: 25px;
        border: solid 1px white;
        background: transparent;
        width: 300px;
        padding: 10px 20px
    }
    
    input,
    input::-webkit-input-placeholder {
        font-size: 12px;
        color: white
    }
    
    .social-btn {
        position: absolute;
        bottom: 20px;
        left: 47%
    }
    
    i {
        padding: 5px;
        color: white
    }
    
    input,
    input:focus {
        border: solid 1px white;
        outline: 0;
        -webkit-appearance: none;
        box-shadow: nones;
        -moz-box-shadow: none;
        -webkit-box-shadow: none
    }
    
    p{
        color:white;
    }
    .secondLine {
        font-weight: 350;
        font-size: 15px;
        margin-bottom: 15%;
        color: white
    }
    
    .firstLine {
        font-size: 30px;
        color: white
    }
    
    @media only screen and (max-width: 600px) {
        .firstLine {
            font-size: 20px
        }
    }</style>
    <title>Document</title>

        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">


    <script>      
        function setParams(){
            var zip = document.getElementById("zipcode").value;
            var radius = document.getElementById("radius").value;
            var email = document.getElementById("email").value;
            window.location.href = `/test/${zip}/${radius}/${email}`
            console.log(email);
        }
    </script>
</head>
<body>
    <!--Div for Background-->
    <div class="bg text-center">
    <!--Div for Centered Text & Input-->
    <div class="centered">
        <p class="firstLine"> V &nbsp; A &nbsp; C &nbsp; I &nbsp; N &nbsp; E &nbsp;   </p>
        <p class="firstLine"> H &nbsp; U &nbsp; N &nbsp; T &nbsp; E &nbsp; R &nbsp;   </p>
        <p class="secondLine">The Easiest Way To Get Vaccinated</p>
        
        <p> <input id = "zipcode" class="InputStyle" placeholder="Zip Code &#xf0e0; " style="font-family:Arial, FontAwesome" type="text"> </p>
        <p> <input id = "radius" class="InputStyle" placeholder="Radius(How far are you willing to drive?) &#xf0e0; " style="font-family:Arial, FontAwesome" type="text"> </p>
        <p> <input id = "email" class="InputStyle" placeholder="Email(Check Often) &#xf0e0; " style="font-family:Arial, FontAwesome" type="text"> </p>
        <button onclick = "setParams()" type="button" class="btn btn-secondary btn-lg btn-block">Start Searching</button>
    </div>
    <!--Div for bottom Icons-->
  
    </div>
    </div>
 
</body>
</html>